[submodule "examples/indicator/aroon"]
	path = examples/indicator/aroon
	url = https://gist.github.com/f18938b1adeb27e0b6fd.git
[submodule "examples/indicator/bollinger"]
	path = examples/indicator/bollinger
	url = https://gist.github.com/2da5cf683eb1e0589fa10418d442479c.git
[submodule "examples/scale/zoom-d3-scale"]
	path = examples/scale/zoom-d3-scale
	url = https://gist.github.com/94e0a802f9160ce8a4eb8b80d9ad0a0e.git
[submodule "examples/indicator/heikinashi"]
	path = examples/indicator/heikinashi
	url = https://gist.github.com/b0162d7d7a37dac058a78ee96d186a85.git
[submodule "examples/indicator/roc"]
	path = examples/indicator/roc
	url = https://gist.github.com/b377bcddfd534ad6bb0f8a1abd518917.git
[submodule "examples/indicator/sroc"]
	path = examples/indicator/sroc
	url = https://gist.github.com/c09b1ca94bd0ca1c5080a03e50c38aad.git
