[submodule "examples/indicator/roc"]
	path = examples/indicator/roc
	url = https://gist.github.com/b377bcddfd534ad6bb0f8a1abd518917.git
[submodule "examples/indicator/sroc"]
	path = examples/indicator/sroc
	url = https://gist.github.com/c09b1ca94bd0ca1c5080a03e50c38aad.git
